 html body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	 background: url(@WallpapersGram4k%20-%20planning-to-get-out-of-trap-ts.jpg) 50% 50% no-repeat;
	 background-size: cover;
	 display: table;
}
.signin{
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 5px;
	padding: 3em;
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	
	background: rgba(0,0,0,0.4);
}
h2{
	margin-top: 0;
	text-align: center;
	font-family: sans-serif;
	font-weight: lighter;
	color: #fff;
	font-size:38px;
	
}
input{
	display: block;
	width: 320px;
	height: 50px;
	color: white;
	margin-bottom: 15px;
	background: rgba(0,0,0,0.4);
	outline: none;
	border: 1px solid rgba(0,0,0,0.2);
	font-family: cursive;
	font-weight: lighter;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
}
input:focus{
	outline: 0;
}

.btn{
	width: 332px;
	height: 50px;
	font-size: 16px;
	font-weight: lighter;
	background: #000;
	color: #fff;
    border: 0px;
	cursor: pointer;
	border-radius: 5px;
	
}